.submit-message {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.submit-message label {
    margin-bottom: 20px;
}

.submit-message input {
    margin-bottom: 20px;
    width: 80%;
    outline: none;
    
    border-top-color: #00000000;
    border-left-color: #00000000;
    border-right-color: #00000000;
    border-bottom-color: grey;

    background-color: #00000000;
    font-size: larger;
}

.submit-message button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    color: white;
    background-color: black;
}


